body {
    background: rgb(238, 252, 255);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red {
    background: red;
}

.medium-violet-red {
    background: mediumvioletred;
}

.blue {
    background: midnightblue;
}

.midnight-blue {
    background: midnightblue;
}

.gray {
    background: gray;
}
